
.btn1 {
    position: absolute;
    right: 0;
    box-shadow: 3px 3px #5b05f9;
    transition: all 0.3s ease-out;
    background-color: #fff;
    color: #5b05f9;
    padding: 8px 20px;
    border: #5b05f9 1px solid;
}

.btn2 {
    position: absolute;
    right: 0;
    margin-top: 35px;
    box-shadow: 3px 3px #5b05f9;
    transition: all 0.3s ease-out;
    background-color: #fff;
    color: #5b05f9;
    padding: 8px 21px;
    border: #5b05f9 1px solid;
    
}

