/* App.css */
body { 
	font-family: Arial, sans-serif; 
	background-color: #f5f7fa; 
	margin: 0; 
	padding: 0; 
} 

.app { 
	text-align: center; 
	margin: 20px; 
} 

h1 { 
	font-size: 2.5rem; 
	margin-bottom: 20px; 
} 

.container { 
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center; 
	align-items: flex-start; 
	margin-top: 2rem; 
}

.calendar-container { 
	flex: 1; 
	max-width: 500px; 
	margin-right: 2rem; 
} 

.event-container { 
	flex: 1; 
	max-width: 500px; 
}

@media screen and (max-width: 768px) { 
	.container { 
		flex-direction: column; 
	} 

	.calendar-container, 
	.event-container { 
		max-width: 100%; 
		margin-right: 0; 
		margin-bottom: 2rem; 
	} 
} 

.react-calendar { 
	width: 100%; 
	max-width: 500px; 
	background: rgba(255, 255, 255, 0.9); 
	border: 1px solid #ccc; 
	font-family: Arial, Helvetica, sans-serif; 
	line-height: 1.125em; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	border-radius: 8px; 
	padding: 10px; 
	transition: background-color 0.2s; 
} 

.react-calendar__month-view__weekdays { 
	font-size: 0.8rem; 
} 

.react-calendar__month-view__days__day--weekend { 
	color: #5b05f9; 
} 

.react-calendar__tile:enabled:hover, 
.react-calendar__tile:enabled:focus { 
	background-color: #c1c1c1; 
} 

.react-calendar__tile--now { 
	background: #ffff76; 
} 

.selected { 
	background-color: #ff4081 !important; 
	color: white; 
} 

.event-marked { 
	background-color: #5b05f9; 
	color: white; 
}

/* Custom styles for month and year */
.react-calendar__navigation__label {
	font-size: 20px; /* Adjust this value to your preferred font size */
}

.react-calendar__navigation button {
	font-size: 20px; /* Adjust this value to your preferred font size */
}

.event-info {
	font-size: 18px;
	margin-top: 10px;
	list-style: none;
	color: #5b05f9;
	font-style: italic;
}