@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.contact-container {
    padding: 125px 0 125px 0;
    background-color: white;
    height: fit-content;
    background-color: #fff;
    font-weight: bolder;
}

.messageTitle {
    font-family: 'Tahoma';
    color: #000;
    font-size: 300%;
    padding-bottom: 30px;
    
}

.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.holder-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name, .email, .msg {
    font-family: 'Tahoma';
    color: #000;
    font-size: 120%;
    margin: ;
}

.nameField, .emailField, .msgField {
    height: 30px;
    width: 300px;
    border: 1.5px solid #000;
    border-radius: 2px;
    box-shadow: 3px 3px #5b05f9;
    cursor: pointer;
}

.msg-area {
    height: 100px;
    width: 300px;
    border-radius: 2px;
    border: 1.5px solid #000;
    box-shadow: 3px 3px #5b05f9;

}

.btn-submit {
    border: 1.5px solid #000;
    box-shadow: 3px 3px #5b05f9;
    color: #000;
    background-color: #ffffff;
    font-size: medium;
    height: 40px;
    width: 300px;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Tahoma';
}

.btn-submit:active {
    background-color: #000;
    box-shadow: none;
    transform: translate(5px, 5px);
}
