.container {
    background-image: url(../../public/images/background.jpg);
    background-size: cover;
    position: initial;
}

.main {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.contact-info {
    margin: 20px 0 0 0;
    list-style: none;
    padding: 20px 0;
}

.hours-of-operation {
    font-size: 4vmin;
    list-style: none;
    padding: 20px 0;
}

.hours-of-operation-items {
    font-size: 2.8vmin;
}
.phone, .fax, .email, .address {
    font-size: 2.8vmin;
    font-weight: 600;
    padding-bottom: 5px;
}

.phone-number, .fax-number, .email-, .address- {
    font-size: 2.8vmin;
    display: inline;
    font-weight: 100;
}

.mapcontainer {
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    width: 1000px;
    z-index: 0;
}

@media screen and (max-width: 715) {
    .mapcontainer {
        margin-right: 45px;
    }
    
}
@media screen and (max-width: 1070px)  {
    .hours-of-operation {
        font-size: 3.5vmax;
        list-style: none;
        padding: 20px 0;
    }
    
    .hours-of-operation-items {
        font-size: 3vmax;
    }
    .phone, .fax, .email, .address {
        font-size: 2.5vmax;
        font-weight: 600;
        padding-bottom: 5px;
    }
    
    .phone-number, .fax-number, .email-, .address- {
        font-size: 2.5vmax;
        display: inline;
        font-weight: 100;
    }
}


