.navbar {
  font-size: 1.2rem;
}

.navbar-container {
  display: inherit;
  height: fit-content;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: fit-content;
  max-height: 8vh;
}

.logo {
  max-height: 7vh;
  min-height: 7vh;
  margin: 1vmin;
  margin-left: 2vmin;
}

.menu-icon {
  display: none;
  color: #000;
}

.nav-menu {
  display: inline-flex;
  float: right;
  margin-right: 20px;
}

.nav-menu.active {
  border-bottom: 2px solid #fff;
}

.nav-item.active {
  border-bottom: 4px solid #5b05f9;
  transition: all 0.2s ease-out;
}

.nav-item {
  height: 4vmax;
  display: inline;
}

.nav-links {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  max-height: 5vh;
  min-height: 5vh;
  margin-top: 3vh;
  padding-bottom: 2vh;
}

.nav-links:hover {
  border-bottom: 4px solid #5b05f9;
  transition: all 0.2s ease-out;
}

.nav-links-mobile {
  display: none;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #242424;
  border-radius: 5%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: background-color 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-item:hover {
  background-color: #777;
}

.sub-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: -1px;
  background-color: #242424;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.sub-dropdown-item {
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: background-color 0.3s;
}

.sub-dropdown-item:hover {
  background-color: #777;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.fa-bars {
  color: #000;
}

@media screen and (max-width: 1025px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: #635f5f;
  }

  .nav-menu.active {
    background: #242424;
    top: 7.8vh;
    height: auto;
    left: 0;
    z-index: 1;
  }

  .nav-item {
    margin-bottom: 25px;
  }

  .logo-name {
    font-size: 5vmax;
  }

  .nav-links {
    text-align: center;
    width: 100%;
    display: table;
    padding-top: 30px;
    color: #fff;
  }

  .nav-links:hover {
    background-color: #5b05f9;
    color: #fff;
    border-radius: 0;
  }
  
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 3vh;
    cursor: pointer;
    margin-top: 0vw;
  }

  .dropdown-menu {
    background-color: #fff;
    left: 0; /* Ensure it stays within the viewport */
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .dropdown-item {
    color: #000;
  }

  .sub-dropdown-menu {
    background-color: #fff;
    left: 100%; /* Adjust to ensure it stays within the viewport */
  }

  .sub-dropdown-item {
    color: #000;
  }

  .dropdown-menu.open + .nav-item {
    margin-top: 150px; /* Adjust this value based on the height of the dropdown-menu */
  }
}

@media screen and (max-width: 1020px) {
  .nav-links {
    color: #fff;
  }
}

/* iPhone Screen */
@media screen and (max-width: 720px) {
  .logo-name {
    font-size: 5vmax;
    margin-top: 10px;
  }

  .menu-icon {
    font-size: 3vh;
  }
}

@media screen and (max-width: 650px) {
  .menu-icon {
    font-size: 3vh;
  }

  .dropdown-menu {
    margin-left: 40%;
    left: auto; /* Reset to default */
  }
}
